div:hover{
  border: 2px solid red;
}

div:hover:nth-of-type(2){
  border: 2px solid rgb(255, 136, 0);
}

div:hover:nth-of-type(3){
  border: 2px solid rgb(214, 218, 5);
  height: 200px;
}

div:hover:nth-of-type(4){
  border: 2px solid rgb(94, 255, 0);
}

div:hover:nth-of-type(5){
  border: 2px solid rgb(255, 0, 234);
}

/*Aqui estamos pegando a segunda div e o primeiro h3 e assim por diante nas próximas div */

div:nth-of-type(2) > h3 {
  color: green 
}

div:nth-of-type(3) > h3 {
  font-size: 20px;
}

div:nth-of-type(4) > h3 {
  font-family: monospace;
}

div:nth-of-type(5) > h3 {
  color: blueviolet;
}

div:nth-child(2n+1){
  font-style: italic;
}